adf-4-data-engineering-rk/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-4-data-engineering-rk"
		},
		"azure_data_lake_4_data_engineering_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'azure_data_lake_4_data_engineering'"
		},
		"azure_db_4_data_engineering_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'azure_db_4_data_engineering'"
		},
		"azure_data_lake_4_data_engineering_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sa4dataengineering4rk.dfs.core.windows.net/"
		},
		"azure_db_4_data_engineering_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-server-4-data-engineering.database.windows.net"
		},
		"azure_db_4_data_engineering_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb-4-data-engineering"
		},
		"azure_db_4_data_engineering_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "real_mfalme"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/incremental_ingestion_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "azure_sql_to_lake",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set_current_cdc_value",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "look_up_last_cdc_value",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n   FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table} \n   WHERE @{pipeline().parameters.change_data_capture_column} > '@{if(empty(pipeline().parameters.backfill_date), activity('look_up_last_cdc_value').output.firstRow.cdc_value,  pipeline().parameters.backfill_date)}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "azure_sql_data_source_pipeline",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "azure_data_lake_storage_parquet_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"folder": {
										"value": "@pipeline().parameters.table",
										"type": "Expression"
									},
									"file": {
										"value": "@concat(pipeline().parameters.table, '_', variables('current_cdc_value'))",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "look_up_last_cdc_value",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "azure_data_lake_storage_json_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"folder": "change_data_capture",
									"file": "@concat(pipeline().parameters.table, '_cdc.json')"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "set_current_cdc_value",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "current_cdc_value",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "if_new_record_added",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "azure_sql_to_lake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('azure_sql_to_lake').output.dataRead, 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "delete_empty_file",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "azure_data_lake_storage_parquet_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"folder": {
													"value": "@pipeline().parameters.table",
													"type": "Expression"
												},
												"file": {
													"value": "@concat(pipeline().parameters.table, '_', variables('current_cdc_value'))",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "update_last_cdc",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "script_get_max_cdc",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "cdc_value",
													"value": {
														"value": "@activity('script_get_max_cdc').output.resultSets[0].rows[0].max_cdc_value",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "azure_data_lake_storage_json_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"folder": "change_data_capture",
												"file": "empty.json"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "azure_data_lake_storage_json_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"folder": "change_data_capture",
												"file": "@concat(pipeline().parameters.table, '_cdc.json')"
											}
										}
									]
								},
								{
									"name": "script_get_max_cdc",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "azure_db_4_data_engineering",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "SELECT MAX(@{pipeline().parameters.change_data_capture_column}) AS max_cdc_value FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"table": {
						"type": "string",
						"defaultValue": "dim_users"
					},
					"change_data_capture_column": {
						"type": "string",
						"defaultValue": "updated_at"
					},
					"backfill_date": {
						"type": "string"
					}
				},
				"variables": {
					"current_cdc_value": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/azure_sql_data_source_pipeline')]",
				"[concat(variables('factoryId'), '/datasets/azure_data_lake_storage_parquet_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/azure_data_lake_storage_json_dynamic')]",
				"[concat(variables('factoryId'), '/linkedServices/azure_db_4_data_engineering')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loop_incremental_ingestion_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "for_each_loop_pipeline",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.loop_input",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "azure_sql_to_lake",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "look_up_last_cdc_value",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "set_current_cdc_value",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * \n   FROM @{item().schema}.@{item().table} \n   WHERE @{item().change_data_capture_column} > '@{if(empty(item().backfill_date), activity('look_up_last_cdc_value').output.firstRow.cdc_value,  item().backfill_date)}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "azure_sql_data_source_pipeline",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "azure_data_lake_storage_parquet_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"folder": {
													"value": "@item().table",
													"type": "Expression"
												},
												"file": {
													"value": "@concat(item().table, '_', variables('current_cdc_value'))",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "look_up_last_cdc_value",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"dataset": {
											"referenceName": "azure_data_lake_storage_json_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"folder": "change_data_capture",
												"file": {
													"value": "@concat(item().table, '_cdc.json')",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "set_current_cdc_value",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "current_cdc_value",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "if_new_record_added",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "azure_sql_to_lake",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('azure_sql_to_lake').output.dataRead, 0)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "delete_empty_file",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "azure_data_lake_storage_parquet_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze",
															"folder": {
																"value": "@item().table",
																"type": "Expression"
															},
															"file": {
																"value": "@concat(item().table, '_', variables('current_cdc_value'))",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "update_last_cdc",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "script_get_max_cdc",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"additionalColumns": [
															{
																"name": "cdc_value",
																"value": {
																	"value": "@activity('script_get_max_cdc').output.resultSets[0].rows[0].max_cdc_value",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "JsonReadSettings"
														}
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "azure_data_lake_storage_json_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze",
															"folder": "change_data_capture",
															"file": "empty.json"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "azure_data_lake_storage_json_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze",
															"folder": "change_data_capture",
															"file": {
																"value": "@concat(item().table, '_cdc.json')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "script_get_max_cdc",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "azure_db_4_data_engineering",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "SELECT MAX(@{item().change_data_capture_column}) AS max_cdc_value FROM @{item().schema}.@{item().table}\n",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "pipeline_run_failed_alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "for_each_loop_pipeline",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-09.northcentralus.logic.azure.com:443/workflows/7418b9f3f4094022831141699a8a3b26/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=7ssLpOIeT1ScAOHblodrAEftXD7fNqT5DJzgK21hoyc",
							"body": {
								"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"status\": \"Failed\",\n    \"timestamp\": \"@{utcNow()}\",\n    \"dataFactory\": \"@{pipeline().DataFactory}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "pipeline_run_success_alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "for_each_loop_pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-09.northcentralus.logic.azure.com:443/workflows/7418b9f3f4094022831141699a8a3b26/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=7ssLpOIeT1ScAOHblodrAEftXD7fNqT5DJzgK21hoyc",
							"body": {
								"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"status\": \"Success\",\n    \"timestamp\": \"@{utcNow()}\",\n    \"dataFactory\": \"@{pipeline().DataFactory}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"loop_input": {
						"type": "array",
						"defaultValue": [
							{
								"schema": "dbo",
								"table": "dim_user",
								"change_data_capture_column": "updated_at",
								"backfill_date": ""
							},
							{
								"schema": "dbo",
								"table": "dim_artist",
								"change_data_capture_column": "updated_at",
								"backfill_date": ""
							},
							{
								"schema": "dbo",
								"table": "dim_track",
								"change_data_capture_column": "updated_at",
								"backfill_date": ""
							},
							{
								"schema": "dbo",
								"table": "fact_stream",
								"change_data_capture_column": "stream_timestamp",
								"backfill_date": ""
							},
							{
								"schema": "dbo",
								"table": "dim_date",
								"change_data_capture_column": "date",
								"backfill_date": ""
							}
						]
					}
				},
				"variables": {
					"current_cdc_value": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/azure_sql_data_source_pipeline')]",
				"[concat(variables('factoryId'), '/datasets/azure_data_lake_storage_parquet_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/azure_data_lake_storage_json_dynamic')]",
				"[concat(variables('factoryId'), '/linkedServices/azure_db_4_data_engineering')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_data_lake_storage_json_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_data_lake_4_data_engineering",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folder": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_data_lake_4_data_engineering')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_data_lake_storage_parquet_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_data_lake_4_data_engineering",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folder": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_data_lake_4_data_engineering')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_sql_data_source_pipeline')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_db_4_data_engineering",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_db_4_data_engineering')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_data_lake_4_data_engineering')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('azure_data_lake_4_data_engineering_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('azure_data_lake_4_data_engineering_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_db_4_data_engineering')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('azure_db_4_data_engineering_properties_typeProperties_server')]",
					"database": "[parameters('azure_db_4_data_engineering_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('azure_db_4_data_engineering_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('azure_db_4_data_engineering_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}